.idea/
Client.Implementation/[Bb]in
Client.Implementation/[Oo]bj
Node/[Bb]in
Node/[Oo]bj
Client.Abstraction/[Bb]in
Client.Abstraction/[Oo]bj
Client.Tests/[Bb]in
Client.Tests/[Oo]bj
Console/[Bb]in
Console/[Oo]bj
*.user