.idea/
Client.Implementation/[Bb]in
Client.Implementation/[Oo]bj
Node/Node.Api/[Bb]in
Node/Node.Api/[Oo]bj
Node/Node.Abstraction/[Bb]in
Node/Node.Abstraction/[Oo]bj
Node/Node.Database/[Bb]in
Node/Node.Database/[Oo]bj
Client/Client.Abstraction/[Bb]in
Client/Client.Abstraction/[Oo]bj
Client/Client.Tests/[Bb]in
Client/Client.Tests/[Oo]bj
Console/[Bb]in
Console/[Oo]bj
*.user