services:
  manager:
    container_name: manager
    build:
      context: .
      dockerfile: Manager/Dockerfile
    image: feature-switcher-manager:latest
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
    ports:
      - "8080:5033"
    volumes:
      - type: volume
        source: fs_manager_data
        target: /data
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:5033/health || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 5

  node-dev:
    container_name: node-dev
    build:
      context: .
      dockerfile: Node/Dockerfile
    image: feature-switcher-node:latest
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      NodeConfiguration__Environment: "development"
      ManagerSettings__Url: "http://manager:5033"
      ManagerSettings__NodeName: "development"
      ManagerSettings__NodeAddress: "http://node-dev:5216"
    ports:
      - "8081:5216"
    volumes:
      - type: volume
        source: fs_node_dev_data
        target: /data
    depends_on:
      manager:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:5216/health || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 5
  
  node-uat:
    container_name: node-uat
    build:
      context: .
      dockerfile: Node/Dockerfile
    image: feature-switcher-node:latest
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      NodeConfiguration__Environment: "uat"
      ManagerSettings__Url: "http://manager:5033"
      ManagerSettings__NodeName: "uat"
      ManagerSettings__NodeAddress: "http://node-uat:5216"
    ports:
      - "8082:5216"
    volumes:
      - type: volume
        source: fs_node_uat_data
        target: /data
    depends_on:
      manager:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:5216/health || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 5
  
  node-prod:
    container_name: node-prod
    build:
      context: .
      dockerfile: Node/Dockerfile
    image: feature-switcher-node:latest
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      NodeConfiguration__Environment: "production"
      ManagerSettings__Url: "http://manager:5033"
      ManagerSettings__NodeName: "production"
      ManagerSettings__NodeAddress: "http://node-prod:5216"
    ports:
      - "8083:5216"
    volumes:
      - type: volume
        source: fs_node_prod_data
        target: /data
    depends_on:
      manager:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:5216/health || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 5

volumes:
  fs_manager_data:
    name: fs_manager_data
  fs_node_dev_data:
    name: fs_node_dev_data
  fs_node_uat_data:
    name: fs_node_uat_data
  fs_node_prod_data:
    name: fs_node_prod_data