name: Docker - Node

on:
  push:
    branches: ["main"]
    paths:
      - "Node/**"
      - "Shared/**"
      - ".github/workflows/docker-node.yml"
  push:
    tags: ["v*"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            wookashi/featureswitcher-node
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=sha,format=short
            type=raw,value=build-{{run_number}},enable={{is_default_branch}}
            type=ref,event=tag

      - name: Build & push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Node/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
